# NEXT.JS
NEXT_PUBLIC_APP_NAME=Trainer AI
DATABASE_HOST=mysql
DATABASE_USER=root
DATABASE_PASSWORD=devpassword
DATABASE_NAME=trainer-ai
DATABASE_URL=mysql://root:devpassword@trainer-ai-mysql:3306/trainer-ai

OPENAI_API_KEY=<your-openai-api-key>
OPENAI_MODEL=gpt-4o-mini

# Uses test data instead of making real OpenAI API calls
USE_TEST_DATA=true

# MYSQL
MYSQL_ROOT_PASSWORD=devpassword
MYSQL_DATABASE=trainer-ai